<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vehicle Added</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap" rel="stylesheet">
</head>

<body>
<div id="main-container">
    <h1>Vehicle Successfully Added!</h1>
    <strong>Vehicle Details:</strong>

    <p>VIN: <%= vin %></p>
    <p>Make: <%= make %></p>
    <p>Model: <%= model %></p>
    <p>Year: <%= year %></p><br>

    <div id="footer">
        <p>Developed by: Aditya R. Eswaran</p>
        <a href="/">Go Home</a>
    </div>
</div>
</body>