<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VIN Search</title>
    <link rel="stylesheet" href="/style.css">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap" rel="stylesheet">

    <link rel="icon" href="/favicon.png">
  </head>

  <body>
    <div id="main-container">
      <!-- Title with PNGs -->
      <table>
        <tr>
          <td>
            <img src="/rs5.png" alt="RS5" height="100">
          </td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><h1>The VIN Searching Tool</h1></td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><img src="/x3.png" alt="X3" height="100"></td>
        </tr>
      </table>

      <!-- Introduction -->
      <p class="intro">
        Welcome to the VIN Searching Tool! This application uses the
        <a href="https://vpic.nhtsa.dot.gov/api/">NHTSA Vehicle API</a>
        to browse a wide assortment of vehicles by model and manufacturer. You can
        search vehicles in many ways. To start using this tool, click on any
        of the buttons below! Enjoy!
      </p>

      <!-- Selections Here -->
      <ul>
        <li><a href="/search">Search Models by Make</a></li>
        <li><a href="/addCar">Add a Car (by VIN)</a></li>
        <li><a href="/view">View Stored Cars</a></li>
        <li><a href="/delete">Delete All Stored Cars</a></li>
      </ul>

      <!-- Footer with contact info and copyright stuffs -->
      <div id="footer">
        <p>Developed by: Aditya R. Eswaran</p>
      </div>


    </div>
  </body>
</html>